<!--{include file="common/header.html"}-->
<meta name="loadmodule" content="Member.Login" error="login.html" />
<!--{include file="common/affiliater_header.html"}-->
<div class="container-fluid">
    <div class="row-fluid">
        <!--{include file="common/affiliater_menu.html"}-->
        <div id="content" class="span10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>Home</li>
                </ul>
            </div>
            <!-- content ends -->
        </div>
        <!--/#content.span10-->
    </div>
    <!--/fluid-row-->
    <hr>
    <!--{include file="common/affiliater_footer.html"}-->
</div>
<!--/.fluid-container-->
<!--{include file="common/footer.html"}-->