        <!-- left menu starts -->
        <div class="span2 main-menu-span">
            <div class="well nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="nav-header hidden-tablet">メインメニュー</li>
                    <li><a class="ajax-link" href="<!--{base}-->/affiliater/index.html"><i class="icon-home"></i><span class="hidden-tablet"> ダッシュボード</span></a></li>
                    <li><a class="ajax-link" href="<!--{base}-->/affiliater/site/index.html"><i class="icon-file"></i><span class="hidden-tablet"> サイト一覧</span></a></li>
                    <li><a class="ajax-link" href="<!--{base}-->/affiliater/advertise/index.html"><i class="icon-picture"></i><span class="hidden-tablet"> 広告一覧</span></a></li>
                    <li><a class="ajax-link" href="<!--{base}-->/affiliater/conversion/index.html"><i class="icon-flag"></i><span class="hidden-tablet"> 成果一覧</span></a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <!-- left menu ends -->
